<div class="fb-card">
    <div class="fb-card-content">

    <div class="fb-card-header">
        <img class="fb-card-user-image" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" />
        <div>
        <a class="fb-card-user-name" href="#">{{user.username}}</a>
        <span>Yesterday at 5:01 am</span>
        </div>
        <a class="options-icon" href="#">
        {{#if profile}}
        <i class="fa-solid fa-trash" data-id="{{id}}"></i>
        {{else}}
        <i class="fa fa-ellipsis-h"></i>
        {{/if}}
        </a>
    </div>
    <div class="fb-card-text">
        <p>{{title}}</p>
    </div>
    <img class="fb-card-image" src="{{picture}}" />
    </div>
    <div class="fb-card-comments">
        <a href="#">
            <i class="fa-solid fa-square-poll-vertical"></i>       
            {{rating}}
        </a>
        <hr />
        <form class="fb-card-input comment-form">
            <img class="fb-card-input-image" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png">
            <input class="fb-card-input-input" id="comment-body" type="text" placeholder="Write a comment..." name="comment-body">
            <div class="input-icons">
            <button class="btn" id="submit" type="submit">
                submit
            </button>         
            </div>
        </form>
        {{#each comments as |comment|}}
        <div class="fb-card-comment">
            <img class="fb-card-input-image" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png">
            <div class="fb-card-comment-content"> 
                <div class="fb-card-comment-text">
                    <a href="#">{{comment.user.username}}</a> {{comment.comment_text}}</a>
                    <i class="fa-solid fa-delete-left mx-2" data-id="{{comment.id}}"></i>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{#if profile}}
<script src="/js/blogpost.js"></script>
{{/if}}